.about {
  height: 100vh;
  max-height: 100vh;
  @include flex(column, center, center);
  &__border {
    @include size(85%, 90%, 30px auto, 0);
    background: rgb(248, 248, 255);
    background: linear-gradient(
      135deg,
      rgba(248, 248, 255, 1) 0%,
      rgba(120, 136, 243, 1) 50%,
      rgba(7, 24, 67, 1) 100%
    );
    border-radius: 15px 80px;
    @include mq(xxsmall, $portrait) {
      @if (min-height: 850px) {
        height: 75%;
      }
    }
    @include mq(xsmall, $portrait) {
      height: 75%;
    }
    @include mq(medium, $portrait) {
      height: 75%;
      width: 75%;
    }
    @include mq(large, $landscape) {
      margin-top: 16vh;
      width: 70%;
      height: 75%;
    }
    @include mq(xlarge, $landscape) {
      height: 70%;
    }
    @include mq(xxlarge, $landscape) {
      height: 60%;
    }
  }
  &__txt {
    height: calc(100% - 20px);
    margin: 10px;
    background-image: none;
    background-color: white;
    border-radius: 11px 72px;
    text-align: center;
    @include mq(xxsmall, $portrait) {
      padding: calc((100vh - 90vh) / 2) calc((100vw - 90vw) / 2);
    }
    @include mq(xsmall, $portrait) {
      padding: 50px 10px;
    }
  }
  &__header {
    font-size: $page-title-size;
    padding: 30px;
    @include mq(xxsmall, $portrait) {
      font-size: $title-size-xxsmall;
      padding-top: 0;
    }
    @include mq(xsmall, $portrait) {
      padding-top: 20px;
    }
    @include mq(xsmall, $landscape) {
      padding: 20px;
    }
    @include mq(medium, $portrait) {
      font-size: $title-size-medium;
      padding-top: 10px;
    }
    @include mq(large, $landscape) {
      font-size: $title-size-large;
      padding-top: 40px;
    }
  }
  &__desc {
    width: 85%;
    margin: 0 auto;
    padding: 0 0 20px 0;
    font-size: 1.5rem;
    @include mq(xxsmall, $portrait) {
      width: 80%;
      font-size: 1.7rem;
      @if (min-height: 780px) {
        font-size: 1.9rem;
      }
    }
    @include mq(xsmall, $portrait) {
      width: 75%;
      font-size: 1.8rem;
    }
    @include mq(medium, $landscape) {
      font-size: 1.7rem;
    }
    @include mq(medium, $portrait) {
      font-size: 2.4rem;
      padding-top: 40px;
    }
    @include mq(xmedium, $landscape) {
      padding-top: 10px;
    }
    @include mq(large, $landscape) {
      font-size: 2rem;
      width: 70%;
      padding-top: 20px;
    }
    @include mq(tremendous, $landscape) {
      font-size: 3rem;
    }
  }
}
