.about {
  height: 100vh;
  @include flex(column, center, center);
  &Border {
    margin: 30px auto;
    height: 90%;
    width: 85%;
    background: rgb(248, 248, 255);
    background: linear-gradient(
      135deg,
      rgba(248, 248, 255, 1) 0%,
      rgba(120, 136, 243, 1) 50%,
      rgba(7, 24, 67, 1) 100%
    );
    border-radius: 15px 80px;
  }
  &Txt {
    margin: 10px;
    height: calc(100% - 20px);
    background-image: none;
    background-color: white;
    border-radius: 11px 72px;
    text-align: center;
  }
  &Header {
    font-size: $page-title-size;
    padding: 30px;
  }
  &Desc {
    font-size: 1.5rem;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}
