.about {
  height: 100vh;
  @include flex(column, center, center);
  &Border {
    @include size(85%, 90%, 30px auto, 0);
    background: rgb(248, 248, 255);
    background: linear-gradient(
      135deg,
      rgba(248, 248, 255, 1) 0%,
      rgba(120, 136, 243, 1) 50%,
      rgba(7, 24, 67, 1) 100%
    );
    border-radius: 15px 80px;
    @include mq(xsmall, $portrait) {
      height: 80%;
    }
  }
  &Txt {
    margin: 10px;
    height: calc(100% - 20px);
    background-image: none;
    background-color: white;
    border-radius: 11px 72px;
    text-align: center;
    @include mq(xsmall, $portrait) {
      padding: 50px 10px;
    }
  }
  &Header {
    font-size: $page-title-size;
    padding: 30px;
    @include mq(xxsmall, $portrait) {
      font-size: $title-size-xxsmall;
    }
  }
  &Desc {
    @include size(85%, auto, 0 auto, 0 0 20px 0);
    font-size: 1.5rem;
    @include mq(xxsmall, $portrait) {
      font-size: 1.8rem;
    }
    @include mq(xsmall, $portrait) {
      width: 75%;
    }
  }
}
