.contact {
  height: 100vh;
  max-height: 100vh;
  @include flex($flex-direction: column);
  padding-top: $page-padding-top;
  &__title {
    text-align: center;
    font-size: $page-title-size;
    flex-basis: 8%;
    @include mq(xxsmall, $portrait) {
      font-size: $title-size-xxsmall;
    }
    @include mq(medium, $portrait) {
      font-size: $title-size-medium;
      padding-top: $page-padding-top;
    }
    @include mq(large, $landscape) {
      padding-top: 15vh;
      font-size: $title-size-large;
      padding-bottom: 50px;
    }
  }
  &__container {
    flex-grow: 1;
    @include flex($flex-direction: column);
    @include mq(large, $landscape) {
      flex-grow: 0;
      flex-basis: 65%;
      width: 80%;
      margin: 0 auto;
    }
  }
  &__piece {
    flex-basis: 24%;
    text-align: center;
    color: $white;
    text-decoration: none;
    @include flex(column, stretch, space-evenly);
    letter-spacing: 1px;
    text-shadow: -2px 2px #000;
    transition: $transition;
    @include mq(xsmall, $landscape) {
      flex-basis: 48%;
    }
    &-title {
      font-size: 1.5rem;
      @include mq(xxsmall, $portrait) {
        font-size: 1.7rem;
      }
      @include mq(xmedium, $landscape) {
        font-size: 1.8rem;
      }
      @include mq(medium, $portrait) {
        font-size: 2.5rem;
      }
      @include mq(large, $landscape) {
        font-size: 2.6rem;
      }
    }
    &-icon {
      font-size: 3rem;
      @include mq(medium, $portrait) {
        font-size: 4rem;
      }
      @include mq(xmedium, $landscape) {
        font-size: 3.5rem;
      }
      @include mq(large, $landscape) {
        font-size: 5rem;
      }
    }
    &-data {
      font-size: 1.4rem;
      @include mq(xxsmall, $portrait) {
        font-size: 1.6rem;
      }
      @include mq(medium, $portrait) {
        font-size: 2rem;
      }
      @include mq(xmedium, $landscape) {
        font-size: 1.8rem;
      }
      @include mq(large, $landscape) {
        font-size: 2.2rem;
      }
    }
    &-email {
      background-color: $gmail-color;
      &:active {
        background-color: lighten($gmail-color, 20%);
      }
    }

    &-facebook {
      background-color: $facebook-color;
      &:active {
        background-color: lighten($facebook-color, 20%);
      }
    }
    &-linkedin {
      background-color: $linkedin-color;
      &:active {
        background-color: lighten($linkedin-color, 20%);
      }
    }
    &-github {
      background-color: $github-color;
      text-shadow: -2px 2px #555;
      &:active {
        background-color: lighten($github-color, 20%);
      }
    }
  }
}
