.contact {
  height: 100vh;
  @include flex($flex-direction: column);
  &Title {
    margin-top: 20px;
    text-align: center;
    font-size: 1.8rem;
    flex-basis: 8%;
  }
  &Tile {
    flex-basis: 21%;
    text-align: center;
    color: white;
    @include flex(column, stretch, space-evenly);
    letter-spacing: 1px;
    text-shadow: -2px 2px #000;
    transition: 0.3s;
    h4 {
      font-size: 1.5rem;
    }
    .icon {
      font-size: 3rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}

.email {
  background-color: $gmail-color;
  &:active {
    background-color: lighten($gmail-color, 20%);
  }
}

.facebook {
  background-color: $facebook-color;
  &:active {
    background-color: lighten($facebook-color, 20%);
  }
}
.linkedin {
  background-color: $linkedin-color;
  &:active {
    background-color: lighten($linkedin-color, 20%);
  }
}
.github {
  background-color: $github-color;
  text-shadow: -2px 2px #555;
  &:active {
    background-color: lighten($github-color, 20%);
  }
}
