.footer {
  height: 20vh;
  background-color: $dark-blue;
  color: white;
}
.credits {
  height: 100%;
  width: 100%;
  @include flex(column, center, space-around);
  text-align: center;
  padding-bottom: 10px;
  &Title {
    padding-top: 10px;
    font-size: 1.2rem;
  }
  p,
  a {
    font-size: 1.2rem;
  }
  p {
    display: inline;
  }
  a {
    color: white;
    text-transform: uppercase;
  }
}
