.footer {
  height: 20vh;
  background-color: $dark-blue;
  color: $white;
  @include mq(xsmall, $landscape) {
    height: 28vh;
  }
}
.credits {
  @include size(100%, 100%, auto, 0 0 10px);
  @include flex(column, center, space-around);
  text-align: center;
  &Title {
    padding-top: 10px;
    font-size: 1.2rem;
    @include mq(xxsmall, $portrait) {
      font-size: 1.4rem;
    }
  }
  p,
  a {
    font-size: 1.2rem;
    @include mq(xxsmall, $portrait) {
      font-size: 1.3rem;
    }
    @include mq(xsmall, $portrait) {
      font-size: 1.4rem;
    }
  }
  p {
    display: inline;
  }
  a {
    color: $white;
    text-transform: uppercase;
  }
}
