.hobbies {
  height: 100vh;
  max-height: 100vh;
  padding-top: $page-padding-top;
  background-color: $dark-blue;
  color: white;
  &__title {
    font-size: $page-title-size;
    text-align: center;
    @include mq(xxsmall, $portrait) {
      font-size: $title-size-xxsmall;
    }
    @include mq(medium, $portrait) {
      font-size: $title-size-medium;
      padding-top: $page-padding-top;
    }
    @include mq(large, $landscape) {
      font-size: $title-size-large;
      padding-top: 15vh;
    }
  }
  &__container {
    @include grid(
      repeat(4, calc(var(--row-size) * 0.577)),
      repeat(2, calc(var(--column-size) * 0.75)),
      start,
      center
    );
    margin: 50px calc((100vw - 2 * (var(--column-size) * 0.75)) / 2);
    @include mq(xxsmall, $portrait) {
      --row-size: #{$xxsmall-height};
      --column-size: #{$xxsmall-width};
      margin-top: calc((100vh - 3.5 * var(--row-size)) / 2);
    }
    @include mq(xxsmall, $portrait, "min-height:850px") {
      --column-size: #{$x393-width};
      --row-size: #{$x393-height};
      margin-top: calc((100vh - 3.5 * var(--row-size)) / 2);
    }
    @include mq(xsmall, $portrait) {
      --row-size: #{$xsmall-height};
      --column-size: #{$xsmall-width};
    }
    @include mq(xsmall, $landscape) {
      @include grid(
        repeat(2, calc(var(--row-size-l) * 0.5)),
        repeat(4, calc(var(--column-size-l) * 0.8)),
        start,
        center
      );
      margin: calc((100vh - 4 * (var(--row-size-l) * 0.5)) / 2) 50px;
    }
    @include mq(small, $landscape) {
      --row-size-l: #{$small-height-l};
      --column-size-l: #{$small-width-l};
    }
    @include mq(medium, $portrait) {
      --row-size: #{$medium-height};
      --column-size: #{$medium-width};
    }
    @include mq(medium, $portrait, "min-height: 1279px") {
      --row-size: #{$x800-height};
      --column-size: #{$x800-width};
    }
    @include mq(medium, $landscape) {
      margin-left: calc((100vw - 3.4 * var(--column-size-l)) / 2);
    }
    @include mq(xmedium, $landscape) {
      --row-size-l: #{$xmedium-height-l};
      --column-size-l: #{$xmedium-width-l};
    }
    @include mq(large, $landscape) {
      --row-size-l: #{$large-height-l};
      --column-size-l: #{$large-width-l};
      margin-top: calc((100vw - 3.9 * var(--row-size-l)) / 2);
    }
    @include mq(xlarge, $landscape) {
      --row-size-l: #{$xlarge-height-l};
      --column-size-l: #{$xlarge-width-l};
      margin-top: calc((100vw - 4.6 * var(--row-size-l)) / 2);
    }
    @include mq(xxlarge, $landscape) {
      --row-size-l: #{$xxlarge-height-l};
      --column-size-l: #{$xxlarge-width-l};
      margin-top: calc((100vw - 5 * var(--row-size-l)) / 2);
    }
    @include mq(xxlarge, $landscape) {
      --row-size-l: #{$xxxlarge-height-l};
      --column-size-l: #{$xxxlarge-width-l};
      margin-top: calc((100vw - 5 * var(--row-size-l)) / 2);
    }
    @include mq(tremendous, $landscape) {
      --row-size-l: #{$tremendous-height-l};
      --column-size-l: #{$tremendous-width-l};
      margin-top: calc((100vw - 4.7 * var(--row-size-l)) / 2);
    }
  }
  &__hobby {
    @include position(relative, auto, auto);
    @include size(100%, 25%);
    top: -40%;
    @include flex(row);
    @include mq(xsmall, $landscape) {
      flex-direction: column;
      top: 0;
    }
    @include mq(medium, $portrait) {
      margin: 0;
    }
    filter: drop-shadow(0 0 6px rgb(255, 255, 255));
    &:nth-child(even) {
      flex-direction: row-reverse;
      text-align: right;
      top: 0;
      @include mq(xsmall, $landscape) {
        flex-direction: row;
      }
      .hobbies__hobby-text {
        padding-right: 5%;
        padding-left: 0;
        @include mq(xsmall, $landscape) {
          padding: 0 15%;
        }
        @include mq(small, $landscape) {
          padding: 0 20%;
          min-width: $small-width-l;
        }
        @include mq(xmedium, $landscape) {
          min-width: $xmedium-width-l;
        }
        @include mq(large, $landscape) {
          min-width: $large-width-l;
        }
        @include mq(xlarge, $landscape) {
          min-width: $xlarge-width-l;
        }
        @include mq(tremendous, $landscape) {
          min-width: $tremendous-width-l;
        }
        &--showTxt {
          right: 190%;
          @include mq(xsmall, $landscape) {
            right: 0;
            transform: translate(20%, -55%);
          }
          @include mq(small, $landscape) {
            top: 30%;
          }
          @include mq(large, $landscape) {
            top: -160%;
          }
        }
      }
    }
    &:nth-child(3) {
      top: 40%;
      @include mq(xsmall, $landscape) {
        top: 0;
      }
    }
    &:nth-child(4) {
      top: 80%;
      @include mq(xsmall, $landscape) {
        top: 0;
      }
    }
    &-hexagon {
      @include position(absolute, auto, auto);
      @include size($basic-width, $basic-height);
      min-width: $basic-width;
      clip-path: $polygon;
      background-size: cover;
      z-index: 1;
      @include mq(xxsmall, $portrait) {
        min-width: $xxsmall-width;
        @include size($xxsmall-width, $xxsmall-height);
      }
      @include mq(xxsmall, $portrait, "min-height:850px") {
        min-width: $x393-width;
        @include size($x393-width, $x393-height);
      }
      @include mq(xsmall, $portrait) {
        min-width: $xsmall-width;
        @include size($xsmall-width, $xsmall-height);
      }
      @include mq(xsmall, $landscape) {
        clip-path: $polygon-rotate;
        min-width: $basic-width-l;
        @include size($basic-width-l, $basic-height-l);
      }
      @include mq(small, $landscape) {
        min-width: $small-width-l;
        @include size($small-width-l, $small-height-l);
      }
      @include mq(medium, $portrait) {
        min-width: $medium-width;
        @include size($medium-width, $medium-height);
      }
      @include mq(medium, $portrait, "min-height: 1279px") {
        min-width: $x800-width;
        @include size($x800-width, $x800-height);
      }
      @include mq(xmedium, $landscape) {
        min-width: $xmedium-width-l;
        @include size($xmedium-width-l, $xmedium-height-l);
      }
      @include mq(large, $landscape) {
        min-width: $large-width-l;
        @include size($large-width-l, $large-height-l);
      }
      @include mq(xlarge, $landscape) {
        min-width: $xlarge-width-l;
        @include size($xlarge-width-l, $xlarge-height-l);
      }
      @include mq(xxlarge, $landscape) {
        min-width: $xxlarge-width-l;
        @include size($xxlarge-width-l, $xxlarge-height-l);
        cursor: pointer;
        transition: $transition;
        &:hover {
          transform: scale(1.1);
        }
      }
      @include mq(xxxlarge, $landscape) {
        min-width: $xxxlarge-width-l;
        @include size($xxxlarge-width-l, $xxxlarge-height-l);
      }
      @include mq(tremendous, $landscape) {
        min-width: $tremendous-width-l;
        @include size($tremendous-width-l, $tremendous-height-l);
      }
    }
    &-darkHover {
      @include position(absolute, auto, auto);
      @include size($basic-width, $basic-height);
      clip-path: $polygon;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.7);
      @include mq(xxsmall, $portrait) {
        @include size($xxsmall-width, $xxsmall-height);
      }
      @include mq(xxsmall, $portrait, "min-height:850px") {
        @include size($x393-width, $x393-height);
      }
      @include mq(xsmall, $portrait) {
        @include size($xsmall-width, $xsmall-height);
      }
      @include mq(xsmall, $landscape) {
        clip-path: $polygon-rotate;
        @include size($basic-width-l, $basic-height-l);
      }
      @include mq(small, $landscape) {
        @include size($small-width-l, $small-height-l);
      }
      @include mq(medium, $portrait) {
        @include size($medium-width, $medium-height);
      }
      @include mq(medium, $portrait, "min-height: 1279px") {
        @include size($x800-width, $x800-height);
      }
      @include mq(xmedium, $landscape) {
        @include size($xmedium-width-l, $xmedium-height-l);
      }
      @include mq(large, $landscape) {
        @include size($large-width-l, $large-height-l);
      }
      @include mq(xlarge, $landscape) {
        @include size($xlarge-width-l, $xlarge-height-l);
      }
      @include mq(xxlarge, $landscape) {
        @include size($xxlarge-width-l, $xxlarge-height-l);
      }
      @include mq(xxxlarge, $landscape) {
        @include size($xxxlarge-width-l, $xxxlarge-height-l);
      }
      @include mq(tremendous, $landscape) {
        @include size($tremendous-width-l, $tremendous-height-l);
      }
    }
    &-aviation {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &-crossStitch {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &-fantasyBooks {
      grid-column: 1/2;
      grid-row: 3/4;
      @include mq(xsmall, $landscape) {
        grid-column: 3/4;
        grid-row: 1/2;
      }
    }
    &-jigsaw {
      grid-column: 2/3;
      grid-row: 4/5;
      @include mq(xsmall, $landscape) {
        grid-column: 4/5;
        grid-row: 2/3;
      }
    }
    &-text {
      @include position(absolute, 50%, 50%);
      transform: translate(50%, 20%);
      @include size(100%, $basic-height);
      padding-left: 5%;
      transition: 0.3s;
      @include mq(xxsmall, $portrait) {
        top: 100%;
      }
      @include mq(xsmall, $landscape) {
        text-align: center;
        padding: 0 15%;
        right: 0;
        top: 50%;
        transform: translate(20%, 20%);
        min-width: $basic-width-l;
      }
      @include mq(small, $landscape) {
        padding: 0 20%;
        min-width: $small-width-l;
      }
      @include mq(xmedium, $landscape) {
        min-width: $xmedium-width-l;
      }
      @include mq(large, $landscape) {
        min-width: $large-width-l;
      }
      @include mq(xlarge, $landscape) {
        min-width: $xlarge-width-l;
      }
      @include mq(xxxlarge, $landscape) {
        min-width: $xxxlarge-width-l;
      }
      @include mq(tremendous, $landscape) {
        min-width: $tremendous-width-l;
      }
      &-title {
        font-size: 1.3rem;
        @include mq(xxsmall, $portrait, "min-height: 850px") {
          font-size: 1.6rem;
        }
        @include mq(xsmall, $portrait) {
          font-size: 1.5rem;
        }
        @include mq(medium, $portrait) {
          font-size: 2rem;
        }
        @include mq(medium, $portrait, "min-height: 1279px") {
          font-size: 2.5rem;
        }
        @include mq(xmedium, $landscape) {
          font-size: 1.4rem;
        }
        @include mq(large, $landscape) {
          font-size: 1.8rem;
          padding-bottom: 10px;
        }
        @include mq(tremendous, $landscape) {
          font-size: 2.2rem;
        }
      }
      &-desc {
        font-size: 1.2rem;
        @include mq(xxsmall, $portrait, "min-height: 850px") {
          font-size: 1.4rem;
        }
        @include mq(xsmall, $portrait) {
          font-size: 1.3rem;
        }
        @include mq(medium, $portrait) {
          font-size: 1.8rem;
        }
        @include mq(medium, $portrait, "min-height: 1279px") {
          font-size: 2.2rem;
        }
        @include mq(xmedium, $landscape) {
          font-size: 1.3rem;
        }
        @include mq(large, $landscape) {
          font-size: 1.8rem;
        }
        @include mq(tremendous, $landscape) {
          font-size: 2rem;
        }
      }
      &--showTxt {
        right: -90%;
        @include mq(xsmall, $landscape) {
          right: 0;
          transform: translate(20%, 95%);
        }
        @include mq(small, $landscape) {
          top: 220%;
        }
        @include mq(medium, $portrait) {
          right: -100%;
        }
        @include mq(large, $landscape) {
          top: 350%;
        }
        @include mq(xlarge, $landscape) {
          top: 430%;
        }
        @include mq(xxlarge, $landscape) {
          top: 500%;
        }
        @include mq(tremendous, $landscape) {
          top: 620%;
        }
      }
    }
  }
}
