.hobbies {
  @include size($height: 100vh, $padding: $page-padding-top 0);
  background-color: $dark-blue;
  color: white;
  &Title {
    font-size: $page-title-size;
    text-align: center;
    @include mq(xxsmall, $portrait) {
      font-size: $title-size-xxsmall;
    }
  }
  &Tiles {
    @include grid(repeat(4, 1fr), repeat(2, 1fr), start, center);
    @include size($width: 90vw, $margin: -95px auto);
    @include mq(xxsmall, $portrait) {
      margin-top: -105px;
    }
    @include mq(xsmall, $portrait) {
      padding-top: 30px;
    }
    @include mq(xsmall, $landscape) {
      @include grid(repeat(2, 1fr), repeat(4, 23vw), start, start);
      margin: 20px 20px 0;
      height: 70vh;
    }
    @include mq(small, $landscape) {
      margin: 20px auto 0;
    }
    @include mq(xmedium, $landscape) {
      margin: 25px 35px;
    }
  }
}

.hobby {
  @include position(relative, auto, auto);
  @include size($width: 100%, $height: 23.5%);
  @include flex(row);
  filter: drop-shadow(0 0 6px rgb(255, 255, 255));
  &:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
    @include mq(xsmall, $landscape) {
      flex-direction: column;
      height: 100%;
    }
    .showTxt {
      right: 100%;
      @include mq(xsmall, $landscape) {
        right: 20px;
        top: -85px;
      }
      @include mq(xmedium, $landscape) {
        right: 40px;
      }
    }
  }
  @include mq(xsmall, $landscape) {
    flex-direction: column;
    height: 100%;
  }
  .hexagon {
    @include position(relative, auto, auto);
    @include size($width: 140px, $height: 150px, $margin: 0);
    clip-path: $polygon;
    background-size: cover;
    z-index: 1;
    @include mq(xxsmall, $portrait) {
      @include size($width: 150px, $height: 170px, $margin: 0);
    }
    @include mq(xsmall, $portrait) {
      @include size($width: 170px, $height: 190px, $margin: 0);
    }
    @include mq(xsmall, $landscape) {
      clip-path: $polygon-rotate;
      @include size($width: 130px, $height: 110px, $margin: 0);
    }
    @include mq(small, $landscape) {
      @include size($width: 150px, $height: 130px, $margin: 0);
    }
    @include mq(xmedium, $landscape) {
      @include size($width: 180px, $height: 155px, $margin: 0);
    }
  }
  .darkHover {
    @include position(absolute, auto, auto);
    @include size($width: 140px, $height: 150px, $margin: 0);
    clip-path: $polygon;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    @include mq(xxsmall, $portrait) {
      @include size($width: 150px, $height: 170px, $margin: 0);
    }
    @include mq(xsmall, $portrait) {
      @include size($width: 170px, $height: 190px, $margin: 0);
    }
    @include mq(xsmall, $landscape) {
      clip-path: $polygon-rotate;
      @include size($width: 130px, $height: 110px, $margin: 0);
    }
    @include mq(small, $landscape) {
      @include size($width: 150px, $height: 130px, $margin: 0);
    }
    @include mq(xmedium, $landscape) {
      @include size($width: 180px, $height: 155px, $margin: 0);
    }
  }
  &Text {
    @include position(absolute, 120%);
    @include size($width: 80%, $height: 100%, $padding: 0 10px);
    transition: 0.3s;
    @include mq(xxsmall, $portrait) {
      padding: 0 15px;
    }
    @include mq(xsmall, $landscape) {
      text-align: center;
      width: 85%;
      top: 24px;
      right: 11px;
    }
    @include mq(medium, $landscape) {
      right: 7vh;
    }
    @include mq(xmedium, $landscape) {
      width: 65%;
      right: 40px;
    }
    h4 {
      font-size: 1.3rem;
      @include mq(xsmall, $portrait) {
        font-size: 1.5rem;
      }
      @include mq(xmedium, $landscape) {
        font-size: 1.4rem;
      }
    }
    p {
      font-size: 1.2rem;
      @include mq(xsmall, $portrait) {
        font-size: 1.3rem;
      }
      @include mq(xmedium, $landscape) {
        font-size: 1.3rem;
      }
    }
    &.showTxt {
      right: -80%;
      @include mq(xsmall, $landscape) {
        right: 5px;
        top: 130px;
      }
      @include mq(small, $landscape) {
        top: 150px;
      }
      @include mq(medium, $landscape) {
        right: 18px;
      }
      @include mq(xmedium, $landscape) {
        right: 40px;
        top: 180px;
      }
    }
  }
}
.aviation {
  left: 37px;
  top: 50px;
  @include mq(xxsmall, $portrait) {
    left: 42px;
    top: 51px;
  }
  @include mq(xsmall, $landscape) {
    grid-row: 1/2;
    grid-column: 1/2;
    left: 42px;
    top: 28px;
  }
  @include mq(small, $landscape) {
    left: 40px;
    top: 30px;
  }
  @include mq(xmedium, $landscape) {
    left: 80px;
    top: 35px;
  }
}
.crossStitch {
  right: 37px;
  top: 17px;
  grid-column: 2/3;
  grid-row: 2/3;
  @include mq(xxsmall, $portrait) {
    right: 42px;
  }
  @include mq(xsmall, $landscape) {
    grid-row: 2/3;
    grid-column: 2/3;
    right: -14px;
    top: -28px;
  }
  @include mq(small, $landscape) {
    right: -14px;
    top: -30px;
  }
  @include mq(xmedium, $landscape) {
    right: -27px;
    top: -35px;
  }
}
.fantasyBooks {
  left: 37px;
  bottom: 17px;
  grid-row: 3/4;
  @include mq(xxsmall, $portrait) {
    left: 42px;
  }
  @include mq(xsmall, $landscape) {
    grid-row: 1/2;
    grid-column: 3/4;
    left: -14px;
    bottom: -28px;
  }
  @include mq(small, $landscape) {
    left: -14px;
    bottom: -30px;
  }
  @include mq(xmedium, $landscape) {
    left: -27px;
    bottom: -35px;
  }
}
.jigsaw {
  right: 37px;
  bottom: 50px;
  grid-row: 4/5;
  grid-column: 2/3;
  @include mq(xxsmall, $portrait) {
    right: 42px;
    bottom: 51px;
  }
  @include mq(xsmall, $landscape) {
    grid-row: 2/3;
    grid-column: 4/5;
    bottom: 28px;
    right: 42px;
  }
  @include mq(small, $landscape) {
    right: 40px;
    bottom: 30px;
  }
  @include mq(xmedium, $landscape) {
    right: 80px;
    bottom: 35px;
  }
}
