.languages {
  width: 100%;
  padding-top: 15px;
  @include flex($justify-content: space-around);
  @include mq(xxsmall, $portrait) {
    padding-top: 30px;
  }
  @include mq(xsmall, $portrait) {
    padding-top: 40px;
  }
  .flag img {
    box-shadow: 0 0 4px 2px #ddd;
  }
  .poland {
    flex-basis: 50%;
    height: 30px;
    @include mq(xsmall, $portrait) {
      height: 40px;
    }
  }
  .uk {
    flex-grow: 1;
    height: 30px;
    background-color: white;
    @include mq(xsmall, $portrait) {
      height: 40px;
    }
  }
}
