.header {
  @include position($position: relative);
  width: 100vw;
  flex-basis: 10%;
  @include mq(xsmall, $landscape) {
    grid-column: 1/3;
  }
  &__languages {
    width: 100%;
    padding-top: 15px;
    @include flex($justify-content: space-around);
    @include mq(xxsmall, $portrait) {
      padding-top: 30px;
    }
    @include mq(xsmall, $portrait) {
      padding-top: 40px;
    }
    @include mq(xsmall, $landscape) {
      padding-top: 25px;
    }
  }

  &__flag {
    &--img {
      box-shadow: 0 0 4px 2px #ddd;
      height: 30px;
      @include mq(xsmall, $portrait) {
        height: 40px;
      }
      @include mq(small, $landscape) {
        height: 35px;
      }
      @include mq(medium, $portrait) {
        height: 45px;
      }
    }
    &--poland {
      flex-basis: 50%;
    }
    &--uk {
      flex-grow: 1;
      background-color: white;
    }
  }
}
