.main-page {
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
  height: 100vh;
  max-height: 100vh;
  background-color: $dark-blue;
  color: $light-blue;
  letter-spacing: 2px;
  text-shadow: 3px 3px black;
  @include flex(column, center, flex-start);
  flex-wrap: nowrap;
  @include mq(xxsmall, $portrait) {
    font-size: 2rem;
  }
  @include mq(xsmall, $landscape) {
    @include grid(20vh 80vh, 50% 50%);
    width: 100vw;
  }
  @include mq(large, $landscape) {
    @include grid(1fr, 45% 55%);
  }
  &__introduction {
    width: 95%;
    flex-basis: 50%;
    margin: 0 auto;
    text-align: center;
    @include mq(xsmall, $portrait) {
      width: 80%;
      margin: 50px auto;
      font-size: 2.4rem;
    }
    @include mq(xsmall, $landscape) {
      font-size: 1.7rem;
      height: 90%;
    }
    @include mq(small, $landscape) {
      font-size: 1.9rem;
      width: 85%;
    }
    @include mq(medium, $landscape) {
      font-size: 2rem;
    }
    @include mq(xmedium, $landscape) {
      font-size: 2.2rem;
    }
    @include mq(medium, $portrait) {
      font-size: 3.3rem;
      width: 70%;
      margin-top: 7px;
    }
    @include mq(large, $landscape) {
      grid-column: 1/2;
      grid-row: 1/2;
      margin-top: 20vh;
      text-align: right;
    }
    @include mq(xlarge, $landscape) {
      text-align: right;
    }
    @include mq(xxxlarge, $landscape) {
      margin-top: 30vh;
    }
    h1 {
      margin-top: 10px;
      @include mq(xsmall, $portrait) {
        margin-bottom: 15px;
      }
      @include mq(medium, $portrait) {
        padding-bottom: 15px;
      }
      @include mq(large, $landscape) {
        font-size: 5rem;
        padding-bottom: 30px;
      }
      @include mq(xlarge, $landscape) {
        font-size: 5rem;
      }
      @include mq(xxxlarge, $landscape) {
        font-size: 5.8rem;
      }
      @include mq(tremendous, $landscape) {
        font-size: 7rem;
        padding-bottom: 50px;
      }
    }
    h2 {
      @include mq(xlarge, $landscape) {
        font-size: 5rem;
      }
    }
  }
  &__avatar {
    width: 100%;
    height: 40%;
    text-align: center;
    margin-bottom: 0;
    @include mq(xxsmall, $portrait) {
      margin-top: 32px;
      height: 50%;
    }
    @include mq(xsmall, $portrait) {
      width: 95%;
      margin: 37px auto 0;
    }
    @include mq(xsmall, $landscape) {
      height: 90%;
    }
    @include mq(small, $landscape) {
      width: 90%;
      margin: 20px 0 0;
    }
    @include mq(medium, $portrait) {
      width: 75%;
      margin-top: 35px;
    }
    @include mq(xmedium, $landscape) {
      margin-top: 25px;
    }
    @include mq(large, $landscape) {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: end;
      justify-self: end;
    }

    &-img {
      height: 100%;
      margin-bottom: 0;
      @include mq(xxsmall, $portrait) {
        height: 80%;
        width: auto;
      }
      @include mq(large, $landscape) {
        width: 100%;
      }
      @include mq(xlarge, $landscape) {
        width: 92%;
      }
      @include mq(xxxlarge, $landscape) {
        width: 70%;
      }
      @include mq(tremendous, $landscape) {
        width: 80%;
      }
    }
  }
}
