.mainPage {
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
  height: 100vh;
  background-color: $dark-blue;
  color: $light-blue;
  letter-spacing: 2px;
  text-shadow: 3px 3px black;
  .introduction {
    @include size(95%, 40vh, 0 auto);
    text-align: center;
    h1 {
      margin-top: 10px;
    }
  }
  .avatar {
    @include size($width: 90%, $margin: 35px auto 0);
    text-align: center;
    &Img {
      @include size($width: 85%, $margin: 0 auto);
    }
  }
}
