.header {
  &__menu {
    @include position(fixed, 0, -100%);
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    z-index: 100;
    @include flex(column, center, flex-start);
    background-color: $menu-dark-blue;
    transition: $transition;
    &--open {
      right: 0;
    }
    .header__languages {
      margin: 20px auto;
      flex-basis: 10%;
    }
    &-bars {
      @include position(fixed, 15px, 15px);
      font-size: 2.5rem;
      color: #aaa;
      z-index: 101;
      @include mq(medium, $portrait) {
        font-size: 4rem;
      }
      &--white {
        color: white;
        z-index: 101;
      }
    }
    &-list {
      list-style: none;
      color: white;
      text-shadow: none;
      font-weight: bold;
      font-family: "Josefin Sans", sans-serif;
      font-size: 2rem;
      width: 100%;
      flex-grow: 1;
      @include flex(column, center, center);
      @include mq(xsmall, $landscape) {
        align-items: center;
      }
      @include mq(medium, $portrait) {
        font-size: 3.2rem;
      }
      @include mq(xmedium, $landscape) {
        font-size: 2.2rem;
      }
      @include mq(large, $landscape) {
        @include flex(row, center, space-around);
      }
      @include mq(tremendous, $landscape) {
        font-size: 2.8rem;
      }
      &-element {
        @include flex(row, center, center);
        @include size($width: 90%, $margin: 0 auto);
        flex-basis: 15%;
        border-bottom: 1px solid white;
        &:nth-last-of-type(1) {
          border: none;
        }
        &:nth-of-type(3) {
          @include mq(xsmall, $landscape) {
            border: none;
          }
        }
        @include mq(xsmall, $landscape) {
          flex-basis: 30%;
          width: 45%;
          margin: 0 2.5vw;
        }
      }
    }
    &-wide {
      position: fixed;
      background-color: $menu-dark-blue;
      height: 12vh;
      top: 0;
      width: 100%;
      font-family: "Josefin Sans", sans-serif;
      z-index: 100;
      @include flex(row, center);
      flex-wrap: nowrap;
      box-shadow: 0 0 6px 4px #000;
      @include mq(xlarge, $landscape) {
        font-size: 2rem;
        cursor: pointer;
      }
      @include mq(xxxlarge, $landscape) {
        font-size: 2.5rem;
      }
      .header__languages {
        flex-basis: 20%;
        margin: 0;
        padding: 0;
      }
      .header__menu-list-element {
        text-align: center;
        margin: 0;
        display: block;
        border: none;
        flex-basis: 13%;
        &--big:active,
        &--big:focus,
        &--big:hover {
          font-weight: bold;
        }
        & .active {
          @include mq(xxxlarge, $landscape) {
            font-weight: bold;
          }
        }
      }
    }
  }
}
