.menu {
  @include position(fixed, 15px, 15px);
  font-size: 2.5rem;
  color: #aaa;
  z-index: 101;
  @include mq(medium, $portrait) {
    font-size: 4rem;
  }

  &White {
    color: white;
    z-index: 101;
  }
  &List {
    @include position(fixed, 0, -100%);
    @include size($width: 100vw, $height: 100vh);
    @include flex(column, stretch, center);
    list-style: none;
    padding-top: 40px;
    background-color: $menu-dark-blue;
    color: white;
    text-shadow: none;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    z-index: 100;
    transition: $transition;
    @include mq(medium, $portrait) {
      font-size: 3rem;
    }
    @include mq(xmedium, $landscape) {
      font-size: 2.2rem;
    }
    .languages {
      margin: -60px 0 40px;

      .poland,
      .uk {
        box-shadow: none;
        border: 1px solid white;
      }
    }
  }
  &Open {
    right: 0;
  }
}
.listElement {
  @include flex(row, center, center);
  @include size($width: 90%, $margin: 0 auto);
  flex-basis: 13%;
  border-bottom: 1px solid white;
  &:nth-last-of-type(1) {
    border: none;
  }
  &:nth-of-type(4) {
    @include mq(xsmall, $landscape) {
      margin-top: 30px;
    }
    @include mq(small, $landscape) {
      margin-top: 45px;
    }
  }
  &:nth-of-type(3) {
    @include mq(xsmall, $landscape) {
      border: none;
    }
  }
  &:nth-of-type(4),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    @include mq(xsmall, $landscape) {
      margin-left: -47.5vw;
    }
  }
  @include mq(xsmall, $landscape) {
    flex-basis: 25%;
    @include size($width: 45%, $margin: 0 0 0 2.5vw);
  }
}

.menuWide {
  position: fixed;
  background-color: $menu-dark-blue;
  height: 12vh;
  top: 0;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;

  z-index: 100;
  @include flex(row, center);
  flex-wrap: nowrap;
  box-shadow: 0 0 6px 4px #000;
  .languages {
    flex-basis: 20%;
    margin: 0;
    padding: 0;
  }
  .listElement {
    text-align: center;
    margin: 0;
    display: block;
    border: none;
    flex-basis: 15%;
  }
  .listBig:active,
  .listBig:focus,
  .listBig:hover {
    font-weight: bold;
  }
  @include mq(xlarge, $landscape) {
    font-size: 2rem;
    cursor: pointer;
  }
  @include mq(xxxlarge, $landscape) {
    font-size: 2.5rem;
  }
  .listBig:active {
    @include mq(xxxlarge, $landscape) {
    }
  }
}
