.menu {
  @include position(fixed, 15px, 15px);
  font-size: 2.5rem;
  color: #aaa;
  z-index: 101;
  &White {
    color: white;
    z-index: 101;
  }
  &List {
    @include position(fixed, 0, -100vw, 100vw, 100vh);
    @include flex(column, stretch, center);
    list-style: none;
    padding-top: 40px;
    list-style: none;
    background-color: $menu-dark-blue;
    color: white;
    text-shadow: none;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    z-index: 100;
    transition: $transition;
    .languages {
      margin: -60px 0 40px;
      .poland,
      .uk {
        box-shadow: none;
        border: 1px solid white;
      }
    }
  }
  &Open {
    right: 0;
  }
}
.listElement {
  @include flex(row, center, center);
  width: 90%;
  margin: 0 auto;
  flex-basis: 13%;
  border-bottom: 1px solid white;
  &:nth-last-of-type(1) {
    border: none;
  }
}
