.projects {
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  padding-top: $page-padding-top;
  &__title {
    font-size: $page-title-size;
    text-align: center;
    margin-bottom: 5px;
    @include mq(xxsmall, $portrait) {
      font-size: $title-size-xxsmall;
      margin-bottom: 5px;
    }
    @include mq(xsmall, $portrait) {
      margin-bottom: 15px;
    }
    @include mq(medium, $portrait) {
      font-size: $title-size-medium;
      padding-top: $page-padding-top;
    }
    @include mq(large, $landscape) {
      padding-top: 15vh;
      font-size: $title-size-large;
    }
  }
  &__comment {
    width: 90%;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
    @include mq(xxsmall, $portrait) {
      font-size: 1.2rem;
      width: 80%;
    }
    @include mq(xsmall, $portrait) {
      font-size: 1.3rem;
    }
    @include mq(small, $landscape) {
      font-size: 1.4rem;
    }
    @include mq(medium, $portrait) {
      font-size: 1.7rem;
    }
    @include mq(large, $landscape) {
      font-size: 1.9rem;
    }
    @include mq(tremendous, $landscape) {
      padding-top: 20px;
    }
  }
  &__container {
    @include flex(column, center, center);
    height: 90%;
    @include mq(xsmall, $landscape) {
      @include grid(repeat(2, 1fr), repeat(2, 1fr));
      width: 90%;
      margin: -12px auto 0;
      column-gap: 10px;
    }
    @include mq(small, $landscape) {
      margin-top: -22px;
    }
    @include mq(medium, $landscape) {
      margin-top: -15px;
    }
    @include mq(medium, $portrait) {
      margin-top: 30px;
    }
    @include mq(xmedium, $landscape) {
      margin-top: 0px;
      width: 95%;
    }
    @include mq(large, $landscape) {
      margin-top: 50px;
      height: 60%;
    }
    @include mq(tremendous, $landscape) {
      height: 65%;
      width: 80%;
      column-gap: 50px;
      row-gap: 30px;
    }
  }
  &__project {
    position: relative;
    width: 90vw;
    flex-basis: 25%;
    @include grid(20px 1fr, 40% 60%);
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    @include mq(xsmall, $landscape) {
      width: 100%;
      height: auto;
      border: none;
    }
    @include mq(large, $landscape) {
      height: 100%;
      margin: 0;
    }
    &-calculator {
      border-bottom: none;
    }
    &:nth-child(even) {
      @include mq(xsmall, $landscape) {
        @include grid(20px 1fr, 60% 40%);
        img {
          grid-column: 2/3;
        }
        p {
          grid-row: 2/3;
          text-align: right;
        }
        .link {
          right: 40%;
        }
      }
      @include mq(xmedium, $landscape) {
        height: 100%;
      }
    }
    &-title {
      grid-column: 1/3;
      text-align: center;
      font-size: 1.3rem;
      color: $dark-blue;
      @include mq(xxsmall, $portrait) {
        @if (min-height: 850px) {
          font-size: 1.7rem;
        }
      }
      @include mq(xsmall, $portrait) {
        font-size: 1.5rem;
      }
      @include mq(small, $landscape) {
        font-size: 1.5rem;
      }
      @include mq(medium, $portrait) {
        font-size: 2rem;
      }
      @include mq(large, $landscape) {
        font-size: 2rem;
      }
      @include mq(tremendous, $landscape) {
        font-size: 3rem;
      }
    }
    &-desc {
      font-size: 1.2rem;
      @include mq(xxsmall, $portrait) {
        @if (min-height: 850px) {
          font-size: 1.5rem;
        }
      }
      @include mq(xsmall, $portrait) {
        font-size: 1.4rem;
      }
      @include mq(small, $landscape) {
        font-size: 1.4rem;
      }
      @include mq(medium, $portrait) {
        font-size: 1.9rem;
      }
      @include mq(xmedium, $landscape) {
        font-size: 1.5rem;
      }
      @include mq(large, $landscape) {
        font-size: 1.9rem;
      }
      @include mq(tremendous, $landscape) {
        font-size: 2.3rem;
      }
    }
    &-img {
      width: 65%;
      @include mq(xxsmall, $portrait) {
        @if (min-height: 850px) {
          width: 80%;
        }
      }
      @include mq(xsmall, $portrait) {
        width: 70%;
      }
      @include mq(small, $landscape) {
        width: 75%;
      }
      @include mq(medium, $portrait) {
        width: 60%;
      }
      @include mq(xxlarge, $landscape) {
        cursor: pointer;
        transition: $transition;
      }
      &:hover {
        @include mq(xxlarge, $landscape) {
          transform: scale(1.1);
        }
      }
      @include mq(tremendous, $landscape) {
        width: 80%;
      }
    }
    &-gitlink {
      @include position(absolute, 30px);
      width: 60%;
      height: calc(100% - 31px);
      padding: 10px;
      @include flex(row, center, center);
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.8);
      a {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        @include mq(xxsmall, $portrait) {
          @if (min-height: 850px) {
            font-size: 1.7rem;
          }
        }
        @include mq(small, $landscape) {
          font-size: 1.6rem;
        }
        @include mq(medium, $portrait) {
          font-size: 2rem;
        }
        @include mq(large, $landscape) {
          font-size: 2.5rem;
        }
      }
    }
  }
}
