.technologies {
  height: 100vh;
  max-height: 100vh;
  padding-top: $page-padding-top;
  background-color: $dark-blue;
  &__title {
    text-align: center;
    color: white;
    font-size: $page-title-size;
    @include mq(xxsmall, $portrait) {
      font-size: $title-size-xxsmall;
    }
    @include mq(medium, $portrait) {
      font-size: $title-size-medium;
      padding-top: $page-padding-top;
    }
    @include mq(large, $landscape) {
      padding-top: 15vh;
      font-size: $title-size-large;
    }
  }
  &__container {
    @include size(90%, 80%);
    margin: 30px auto;
    @include grid(repeat(3, 1fr), repeat(2, 1fr));
    font-size: 6rem;
    text-align: center;
    @include mq(xxsmall, $portrait) {
      margin-top: 30px;
    }
    @include mq(xsmall, $portrait) {
      margin-top: 50px;
    }
    @include mq(xsmall, $landscape) {
      @include size(90%, 82%);
      margin: 15px auto 0;
    }
    @include mq(medium, $portrait) {
      width: 88%;
      font-size: 8rem;
      @media (min-height: 1279px) {
        font-size: 10rem;
      }
    }
    @include mq(large, $landscape) {
      @include size(80%, 73%);
      padding-top: 10px;
      font-size: 7rem;
    }
    @include mq(xxlarge, $landscape) {
      font-size: 8rem;
    }
    @include mq(xxxlarge, $landscape) {
      font-weight: bold;
    }
  }
  &__piece {
    aspect-ratio: 1/1;
    @include flex(column, center, space-evenly);
    @include size(85%, 85%);
    border-radius: 30%;
    box-shadow: -4px 4px 4px 2px #000;
    background-color: white;
    @include mq(xxsmall, $portrait) {
      height: 70%;
    }
    @include mq(xsmall, $portrait) {
      height: 70%;
    }
    @include mq(xsmall, $landscape) {
      aspect-ratio: 0/0;
      height: 90%;
      flex-direction: row;
      border-radius: 26px;
    }
    @include mq(medium, $portrait) {
      @include size(65%, 80%);
      @media (min-height: 1279px) {
        @include size(75%, 75%);
      }
    }
    @include mq(large, $landscape) {
      border-radius: 50px;
    }
    @include mq(xxxlarge, $landscape) {
      width: 65%;
    }
    &-title {
      font-size: 2rem;
      @include mq(small, $landscape) {
        font-size: 2.2rem;
      }
      @include mq(medium, $portrait) {
        font-size: 3rem;
      }
      @include mq(large, $landscape) {
        font-size: 3.2rem;
      }
    }
    &-html {
      color: $html-color;
    }
    &-css {
      color: $css-color;
    }
    &-sass {
      color: $sass-color;
    }
    &-javascript {
      color: $js-color;
    }
    &-react {
      color: $react-color;
    }
    &-npm {
      color: $npm-color;
    }
  }
}
