//colors
$dark-blue: #071843;
$menu-dark-blue: #051335;
$light-blue: #e5eafa;
$transition: 0.3s;

//social media colors
$gmail-color: rgb(224, 81, 71);
$facebook-color: rgb(66, 103, 178);
$linkedin-color: rgb(31, 139, 178);
$github-color: rgb(0, 0, 0);

//font sizes
$page-title-size: 2rem;

//page paddings
$page-padding-top: 20px;

//images paths
$plane-url: "../images/plane.jpg";
$stitch-url: "../images/stitch.jpg";
$fantasy-url: "../images/fantasy.jpg";
$jigsaw-url: "../images/jigsaw.jpg";
