//page colors
$dark-blue: #071843;
$menu-dark-blue: #051335;
$light-blue: #e5eafa;
$white: #fff;

//transition
$transition: 0.3s;

//social media colors
$gmail-color: rgb(224, 81, 71);
$facebook-color: rgb(66, 103, 178);
$linkedin-color: rgb(31, 139, 178);
$github-color: rgb(0, 0, 0);

//tech colors
$html-color: rgb(240, 70, 38);
$css-color: rgb(20, 130, 234);
$sass-color: rgb(220, 33, 91);
$js-color: rgb(251, 214, 1);
$react-color: rgb(97, 218, 251);
$npm-color: rgb(204, 0, 0);

//font sizes
$page-title-size: 2rem;
$title-size-xxsmall: 2.2rem;
$title-size-medium: 3rem;
$title-size-large: 3.4rem;

//page paddings
$page-padding-top: 20px;

//images paths
$plane-url: "../images/plane.jpg";
$stitch-url: "../images/stitch.jpg";
$fantasy-url: "../images/fantasy.jpg";
$jigsaw-url: "../images/jigsaw.jpg";

//media queries
$breakpoints: (
  xxsmall: "min-width:359px",
  xsmall: "min-width: 410px",
  small: "min-width: 639px",
  medium: "min-width: 719px",
  xmedium: "min-width:845px",
  large: "min-width: 1023px",
  xlarge: "min-width: 1279px",
  xxlarge: "min-width: 1359px",
  xxxlarge: "min-width:1440px",
  tremendous: "min-width:1919px",
);

//orientations
$landscape: "orientation:landscape";
$portrait: "orientation:portrait";

//polygons
$polygon: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
$polygon-rotate: polygon(
  0 50%,
  25% 0,
  75% 0,
  100% 50%,
  75% 100%,
  25% 100%,
  0 50%
);

//widths and heights of polygons
$basic-height: 150px;
$basic-width: 140px;

$basic-height-l: 120px;
$basic-width-l: 140px;
