//colors
$dark-blue: #071843;
$menu-dark-blue: #051335;
$light-blue: #e5eafa;
$transition: 0.3s;

//social media colors
$gmail-color: rgb(224, 81, 71);
$facebook-color: rgb(66, 103, 178);
$linkedin-color: rgb(31, 139, 178);
$github-color: rgb(0, 0, 0);
