@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #5b85ee;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header {
  position: relative;
  top: 0;
  right: 0;
  width: 100vw;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

@media (orientation: landscape) and (min-width: 410px) {
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.menu {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 2.5rem;
  color: #aaa;
  z-index: 101;
}

@media (orientation: portrait) and (min-width: 719px) {
  .menu {
    font-size: 4rem;
  }
}

.menuWhite {
  color: white;
  z-index: 101;
}

.menuList {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-top: 40px;
  background-color: #051335;
  color: white;
  text-shadow: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (orientation: portrait) and (min-width: 719px) {
  .menuList {
    font-size: 3rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .menuList {
    font-size: 2.2rem;
  }
}

.menuList .languages {
  margin: -60px 0 40px;
}

.menuList .languages .poland,
.menuList .languages .uk {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid white;
}

.menuOpen {
  right: 0;
}

.listElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  border-bottom: 1px solid white;
}

.listElement:nth-last-of-type(1) {
  border: none;
}

@media (orientation: landscape) and (min-width: 410px) {
  .listElement:nth-of-type(4) {
    margin-top: 30px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .listElement:nth-of-type(4) {
    margin-top: 45px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .listElement:nth-of-type(3) {
    border: none;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .listElement:nth-of-type(4), .listElement:nth-of-type(5), .listElement:nth-of-type(6) {
    margin-left: -47.5vw;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .listElement {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    width: 45%;
    height: auto;
    margin: 0 0 0 2.5vw;
    padding: 0;
  }
}

.menuWide {
  position: fixed;
  background-color: #051335;
  height: 12vh;
  top: 0;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-shadow: 0 0 6px 4px #000;
          box-shadow: 0 0 6px 4px #000;
}

.menuWide .languages {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 0;
  padding: 0;
}

.menuWide .listElement {
  text-align: center;
  margin: 0;
  display: block;
  border: none;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.menuWide .listBig:active,
.menuWide .listBig:focus,
.menuWide .listBig:hover {
  font-weight: bold;
}

@media (orientation: landscape) and (min-width: 1440px) {
  .menuWide .active {
    font-weight: bold;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .menuWide {
    font-size: 2rem;
    cursor: pointer;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .menuWide {
    font-size: 2.5rem;
  }
}

.languages {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (orientation: portrait) and (min-width: 359px) {
  .languages {
    padding-top: 30px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .languages {
    padding-top: 40px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .languages {
    padding-top: 25px;
  }
}

.languages .flag img {
  -webkit-box-shadow: 0 0 4px 2px #ddd;
          box-shadow: 0 0 4px 2px #ddd;
}

.languages .poland {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 30px;
}

@media (orientation: portrait) and (min-width: 410px) {
  .languages .poland {
    height: 40px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .languages .poland {
    height: 35px;
  }
}

.languages .uk {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  background-color: white;
}

@media (orientation: portrait) and (min-width: 410px) {
  .languages .uk {
    height: 40px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .languages .uk {
    height: 35px;
  }
}

.mainPage {
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
  height: 100vh;
  max-height: 100vh;
  background-color: #071843;
  color: #e5eafa;
  letter-spacing: 2px;
  text-shadow: 3px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (orientation: portrait) and (min-width: 359px) {
  .mainPage {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .mainPage {
    display: -ms-grid;
    display: grid;
    grid: 60px 1fr/50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .mainPage {
    display: -ms-grid;
    display: grid;
    grid: 1fr/45% 55%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}

.mainPage .introduction {
  width: 95%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0 auto;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 410px) {
  .mainPage .introduction {
    width: 80%;
    margin: 50px auto;
    font-size: 2.4rem;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .mainPage .introduction {
    font-size: 1.7rem;
    height: 90%;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .mainPage .introduction {
    font-size: 1.9rem;
    width: 85%;
  }
}

@media (orientation: landscape) and (min-width: 719px) {
  .mainPage .introduction {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .mainPage .introduction {
    font-size: 2.2rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .mainPage .introduction {
    font-size: 3.3rem;
    width: 70%;
    margin-top: 7px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .mainPage .introduction {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: 20vh;
    text-align: right;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .mainPage .introduction {
    text-align: right;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .mainPage .introduction {
    margin-top: 30vh;
  }
}

.mainPage .introduction h1 {
  margin-top: 10px;
}

@media (orientation: portrait) and (min-width: 410px) {
  .mainPage .introduction h1 {
    margin-bottom: 15px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .mainPage .introduction h1 {
    padding-bottom: 15px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .mainPage .introduction h1 {
    font-size: 5rem;
    padding-bottom: 30px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .mainPage .introduction h1 {
    font-size: 5rem;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .mainPage .introduction h1 {
    font-size: 5.8rem;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .mainPage .introduction h1 {
    font-size: 7rem;
    padding-bottom: 50px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .mainPage .introduction h2 {
    font-size: 5rem;
  }
}

.mainPage .avatar {
  width: 100%;
  height: 40%;
  text-align: center;
  margin-bottom: 0;
}

@media (orientation: portrait) and (min-width: 359px) {
  .mainPage .avatar {
    margin-top: 32px;
    height: 50%;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .mainPage .avatar {
    width: 95%;
    margin: 37px auto 0;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .mainPage .avatar {
    height: 90%;
    margin: 10px 0 0;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .mainPage .avatar {
    width: 90%;
    margin: 20px 0 0;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .mainPage .avatar {
    width: 75%;
    margin-top: 35px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .mainPage .avatar {
    margin-top: 25px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .mainPage .avatar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.mainPage .avatarImg {
  height: 100%;
  margin-bottom: 0;
}

@media (orientation: portrait) and (min-width: 359px) {
  .mainPage .avatarImg {
    height: 80%;
    width: auto;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .mainPage .avatarImg {
    width: 100%;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .mainPage .avatarImg {
    width: 92%;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .mainPage .avatarImg {
    width: 70%;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .mainPage .avatarImg {
    width: 80%;
  }
}

.about {
  height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutBorder {
  width: 85%;
  height: 90%;
  margin: 30px auto;
  padding: 0;
  background: ghostwhite;
  background: linear-gradient(135deg, ghostwhite 0%, #7888f3 50%, #071843 100%);
  border-radius: 15px 80px;
}

@media (orientation: portrait) and (min-width: 410px) {
  .aboutBorder {
    height: 80%;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .aboutBorder {
    height: 75%;
    width: 75%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .aboutBorder {
    margin-top: 16vh;
    width: 70%;
    height: 75%;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .aboutBorder {
    height: 70%;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .aboutBorder {
    height: 60%;
  }
}

.aboutTxt {
  height: calc(100% - 20px);
  margin: 10px;
  background-image: none;
  background-color: white;
  border-radius: 11px 72px;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 410px) {
  .aboutTxt {
    padding: 50px 10px;
  }
}

.aboutHeader {
  font-size: 2rem;
  padding: 30px;
}

@media (orientation: portrait) and (min-width: 359px) {
  .aboutHeader {
    font-size: 2.2rem;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .aboutHeader {
    padding: 20px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .aboutHeader {
    font-size: 3rem;
    padding-top: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .aboutHeader {
    font-size: 3.4rem;
    padding-top: 40px;
  }
}

.aboutDesc {
  width: 85%;
  margin: 0 auto;
  padding: 0 0 20px 0;
  font-size: 1.5rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .aboutDesc {
    font-size: 1.6rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .aboutDesc {
    width: 75%;
  }
}

@media (orientation: landscape) and (min-width: 719px) {
  .aboutDesc {
    font-size: 1.7rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .aboutDesc {
    font-size: 2.4rem;
    padding-top: 40px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .aboutDesc {
    padding-top: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .aboutDesc {
    font-size: 2rem;
    width: 70%;
    padding-top: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .aboutDesc {
    font-size: 3rem;
  }
}

.technologies {
  height: 100vh;
  max-height: 100vh;
  padding-top: 20px;
  background-color: #071843;
}

.technologiesTitle {
  text-align: center;
  color: white;
  font-size: 2rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .technologiesTitle {
    font-size: 2.2rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .technologiesTitle {
    font-size: 3rem;
    padding-top: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .technologiesTitle {
    padding-top: 15vh;
    font-size: 3.4rem;
  }
}

.technologiesContainer {
  height: 80%;
  width: 90%;
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  grid: repeat(3, 1fr)/repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 6rem;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 359px) {
  .technologiesContainer {
    margin-top: 30px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .technologiesContainer {
    margin-top: 50px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .technologiesContainer {
    width: 90%;
    height: 82%;
    margin: 15px auto 0;
    padding: 0;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .technologiesContainer {
    width: 88%;
    font-size: 8rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .technologiesContainer {
    width: 80%;
    padding-top: 10px;
    height: 73%;
    font-size: 7rem;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .technologiesContainer {
    font-weight: bold;
  }
}

.technologiesContainer p {
  font-size: 2rem;
}

@media (orientation: landscape) and (min-width: 639px) {
  .technologiesContainer p {
    font-size: 2.2rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .technologiesContainer p {
    font-size: 3rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .technologiesContainer p {
    font-size: 3.2rem;
  }
}

.technologiesContainer .tech {
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 85%;
  height: 85%;
  border-radius: 30%;
  -webkit-box-shadow: -4px 4px 4px 2px #000;
          box-shadow: -4px 4px 4px 2px #000;
  background-color: white;
}

@media (orientation: portrait) and (min-width: 410px) {
  .technologiesContainer .tech {
    height: 70%;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .technologiesContainer .tech {
    height: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 26px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .technologiesContainer .tech {
    width: 65%;
    height: 80%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .technologiesContainer .tech {
    border-radius: 50px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .technologiesContainer .tech {
    width: 65%;
  }
}

.technologiesContainer .html {
  color: #f04626;
}

.technologiesContainer .css {
  color: #1482ea;
}

.technologiesContainer .sass {
  color: #dc215b;
}

.technologiesContainer .javascript {
  color: #fbd601;
}

.technologiesContainer .react {
  color: #61dafb;
}

.technologiesContainer .npm {
  color: #cc0000;
}

.projects {
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  padding-top: 20px;
}

.projectsTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5px;
}

@media (orientation: portrait) and (min-width: 359px) {
  .projectsTitle {
    font-size: 2.2rem;
    margin-bottom: 5px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .projectsTitle {
    margin-bottom: 15px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .projectsTitle {
    font-size: 3rem;
    padding-top: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .projectsTitle {
    padding-top: 15vh;
    font-size: 3.4rem;
  }
}

.projectsComment {
  width: 90%;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 359px) {
  .projectsComment {
    font-size: 1.2rem;
    width: 80%;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .projectsComment {
    font-size: 1.3rem;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .projectsComment {
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .projectsComment {
    font-size: 1.7rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .projectsComment {
    font-size: 1.9rem;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .projectsComment {
    padding-top: 20px;
  }
}

.projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}

@media (orientation: landscape) and (min-width: 410px) {
  .projectsContainer {
    display: -ms-grid;
    display: grid;
    grid: repeat(2, 1fr)/repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 90%;
    margin: -12px auto 0;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .projectsContainer {
    margin-top: -22px;
  }
}

@media (orientation: landscape) and (min-width: 719px) {
  .projectsContainer {
    margin-top: -15px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .projectsContainer {
    margin-top: 30px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .projectsContainer {
    margin-top: 0px;
    width: 95%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .projectsContainer {
    margin-top: 50px;
    height: 60%;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .projectsContainer {
    height: 65%;
    width: 80%;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    row-gap: 30px;
  }
}

.project {
  position: relative;
  width: 90vw;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -ms-grid;
  display: grid;
  grid: 20px 1fr/40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

@media (orientation: landscape) and (min-width: 410px) {
  .project {
    width: 100%;
    height: auto;
    border: none;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .project {
    height: 100%;
    margin: 0;
  }
}

.project:nth-last-child(1) {
  border-bottom: none;
}

@media (orientation: landscape) and (min-width: 410px) {
  .project:nth-child(even) {
    display: -ms-grid;
    display: grid;
    grid: 20px 1fr/60% 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .project:nth-child(even) img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .project:nth-child(even) p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: right;
  }
  .project:nth-child(even) .link {
    right: 40%;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .project:nth-child(even) {
    height: 100%;
  }
}

.project a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
  font-size: 1.3rem;
  color: #071843;
}

@media (orientation: portrait) and (min-width: 410px) {
  .project a {
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .project a {
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .project a {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .project a {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .project a {
    font-size: 3rem;
  }
}

.project p {
  font-size: 1.2rem;
}

@media (orientation: portrait) and (min-width: 410px) {
  .project p {
    font-size: 1.4rem;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .project p {
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .project p {
    font-size: 1.9rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .project p {
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .project p {
    font-size: 1.9rem;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .project p {
    font-size: 2.3rem;
  }
}

.project img {
  width: 65%;
}

@media (orientation: portrait) and (min-width: 410px) {
  .project img {
    width: 70%;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .project img {
    width: 75%;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .project img {
    width: 60%;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .project img {
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .project img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .project img {
    width: 80%;
  }
}

.link {
  position: absolute;
  top: 30px;
  right: 0;
  width: 60%;
  height: calc(100% - 31px);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.link a {
  color: white;
  font-size: 1.5rem;
}

@media (orientation: landscape) and (min-width: 639px) {
  .link a {
    font-size: 1.6rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .link a {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .link a {
    font-size: 2.5rem;
  }
}

.hobbies {
  width: auto;
  height: 100vh;
  margin: auto;
  padding: 20px 0;
  background-color: #071843;
  color: white;
}

.hobbiesTitle {
  font-size: 2rem;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbiesTitle {
    font-size: 2.2rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbiesTitle {
    font-size: 3rem;
    padding-top: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbiesTitle {
    font-size: 3.4rem;
    padding-top: 15vh;
  }
}

.hobbiesTiles {
  display: -ms-grid;
  display: grid;
  grid: repeat(4, 1fr)/repeat(2, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: center;
  width: 90vw;
  height: auto;
  margin: -95px auto;
  padding: 0;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbiesTiles {
    margin-top: -98px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .hobbiesTiles {
    padding-top: 30px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbiesTiles {
    display: -ms-grid;
    display: grid;
    grid: repeat(2, 1fr)/repeat(4, 23vw);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: start;
    margin: 20px 20px 0;
    height: 70vh;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .hobbiesTiles {
    margin: 20px auto 0;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbiesTiles {
    margin-top: -50px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbiesTiles {
    margin: 25px 35px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbiesTiles {
    margin: 25px auto;
  }
}

.hobby {
  position: relative;
  top: auto;
  right: auto;
  width: 100%;
  height: 23.5%;
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-filter: drop-shadow(0 0 6px white);
          filter: drop-shadow(0 0 6px white);
}

.hobby:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobby:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobby:nth-child(even) .hobbyText {
    right: -15vw;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobby:nth-child(even) .hobbyText {
    right: 125px;
  }
}

.hobby:nth-child(even) .showTxt {
  right: 100%;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobby:nth-child(even) .showTxt {
    right: 85%;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobby:nth-child(even) .showTxt {
    right: 20px;
    top: -85px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobby:nth-child(even) .showTxt {
    left: -11.5vw;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobby:nth-child(even) .showTxt {
    right: 40px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobby:nth-child(even) .showTxt {
    top: -130px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobby:nth-child(even) .showTxt {
    right: 80px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .hobby:nth-child(even) .showTxt {
    right: 90px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobby:nth-child(even) .showTxt {
    right: 125px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobby {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobby {
    margin: 0;
  }
}

.hobby .hexagon {
  position: relative;
  top: auto;
  right: auto;
  width: 140px;
  height: 150px;
  margin: 0;
  padding: 0;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-size: cover;
  z-index: 1;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobby .hexagon {
    width: 130px;
    height: 145px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .hobby .hexagon {
    width: 170px;
    height: 190px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobby .hexagon {
    -webkit-clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    width: 130px;
    height: 110px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .hobby .hexagon {
    width: 150px;
    height: 130px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobby .hexagon {
    width: 220px;
    height: 240px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobby .hexagon {
    width: 180px;
    height: 155px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobby .hexagon {
    width: 235px;
    height: 200px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .hobby .hexagon {
    width: 280px;
    height: 240px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .hobby .hexagon:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobby .hexagon {
    width: 350px;
    height: 310px;
    margin: 0;
    padding: 0;
  }
}

.hobby .darkHover {
  position: absolute;
  top: auto;
  right: auto;
  width: 140px;
  height: 150px;
  margin: 0;
  padding: 0;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobby .darkHover {
    width: 130px;
    height: 145px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .hobby .darkHover {
    width: 170px;
    height: 190px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobby .darkHover {
    -webkit-clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    width: 130px;
    height: 110px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .hobby .darkHover {
    width: 150px;
    height: 130px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobby .darkHover {
    width: 220px;
    height: 240px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobby .darkHover {
    width: 180px;
    height: 155px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobby .darkHover {
    width: 235px;
    height: 200px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .hobby .darkHover {
    width: 280px;
    height: 240px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobby .darkHover {
    width: 350px;
    height: 310px;
    margin: 0;
    padding: 0;
  }
}

.hobbyText {
  position: absolute;
  top: 120%;
  right: 0;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbyText {
    padding: 0 15px;
    right: 10%;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbyText {
    text-align: center;
    width: 85%;
    top: 24px;
    right: 11px;
  }
}

@media (orientation: landscape) and (min-width: 719px) {
  .hobbyText {
    right: 7vh;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbyText {
    width: 60%;
    left: -4vw;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbyText {
    width: 65%;
    right: 40px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbyText {
    right: 80px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .hobbyText {
    right: 100px;
    top: 100px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbyText {
    right: 125px;
  }
}

.hobbyText h4 {
  font-size: 1.3rem;
}

@media (orientation: portrait) and (min-width: 410px) {
  .hobbyText h4 {
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbyText h4 {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbyText h4 {
    font-size: 1.4rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbyText h4 {
    font-size: 1.8rem;
    padding-bottom: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbyText h4 {
    font-size: 2.2rem;
  }
}

.hobbyText p {
  font-size: 1.2rem;
}

@media (orientation: portrait) and (min-width: 410px) {
  .hobbyText p {
    font-size: 1.3rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbyText p {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbyText p {
    font-size: 1.3rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbyText p {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbyText p {
    font-size: 2rem;
  }
}

.hobbyText.showTxt {
  right: -80%;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbyText.showTxt {
    right: -65%;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbyText.showTxt {
    right: 5px;
    top: 130px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .hobbyText.showTxt {
    top: 150px;
  }
}

@media (orientation: landscape) and (min-width: 719px) {
  .hobbyText.showTxt {
    right: 18px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbyText.showTxt {
    right: -100%;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbyText.showTxt {
    right: 40px;
    top: 180px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbyText.showTxt {
    top: 230px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .hobbyText.showTxt {
    right: 80px;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .hobbyText.showTxt {
    top: 270px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .hobbyText.showTxt {
    right: 90px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbyText.showTxt {
    right: 125px;
    top: 350px;
  }
}

.aviation {
  left: 37px;
  top: 50px;
}

@media (orientation: portrait) and (min-width: 359px) {
  .aviation {
    left: 62px;
    top: 46px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .aviation {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    left: 42px;
    top: 28px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .aviation {
    left: 40px;
    top: 30px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .aviation {
    left: 178px;
    top: 77px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .aviation {
    left: 80px;
    top: 35px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .aviation {
    left: 73px;
    top: 80px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .aviation {
    left: 192px;
    top: 73px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .aviation {
    left: 162px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .aviation {
    left: 230px;
    top: 70px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .aviation {
    left: 298px;
    top: 120px;
  }
}

.crossStitch {
  right: 37px;
  top: 17px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (orientation: portrait) and (min-width: 359px) {
  .crossStitch {
    right: 62px;
    top: 15px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .crossStitch {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    right: -14px;
    top: -28px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .crossStitch {
    right: -14px;
    top: -30px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .crossStitch {
    right: 178px;
    top: 25px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .crossStitch {
    right: -27px;
    top: -35px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .crossStitch {
    right: -25px;
    top: -80px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .crossStitch {
    right: -85px;
    top: -73px;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .crossStitch {
    right: -75px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .crossStitch {
    right: -110px;
    top: -70px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .crossStitch {
    right: -130px;
    top: -100px;
  }
}

.fantasyBooks {
  left: 37px;
  bottom: 17px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

@media (orientation: portrait) and (min-width: 359px) {
  .fantasyBooks {
    left: 62px;
    bottom: 15px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .fantasyBooks {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    left: -14px;
    bottom: -28px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .fantasyBooks {
    left: -14px;
    bottom: -30px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .fantasyBooks {
    left: 178px;
    bottom: 25px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .fantasyBooks {
    left: -27px;
    bottom: -35px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .fantasyBooks {
    left: -25px;
    bottom: -80px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .fantasyBooks {
    left: -25px;
    bottom: -73px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .fantasyBooks {
    left: -15px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .fantasyBooks {
    bottom: -70px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .fantasyBooks {
    left: -40px;
    bottom: -120px;
  }
}

.jigsaw {
  right: 37px;
  bottom: 50px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

@media (orientation: portrait) and (min-width: 359px) {
  .jigsaw {
    right: 62px;
    bottom: 46px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .jigsaw {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    bottom: 28px;
    right: 42px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .jigsaw {
    right: 40px;
    bottom: 30px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .jigsaw {
    right: 178px;
    bottom: 77px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .jigsaw {
    right: 80px;
    bottom: 35px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .jigsaw {
    right: 73px;
    bottom: 80px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .jigsaw {
    right: 132px;
    bottom: 73px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .jigsaw {
    right: 102px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .jigsaw {
    right: 135px;
    bottom: 70px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .jigsaw {
    right: 205px;
    bottom: 100px;
  }
}

.contact {
  height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
}

.contactTitle {
  text-align: center;
  font-size: 2rem;
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
}

@media (orientation: portrait) and (min-width: 359px) {
  .contactTitle {
    font-size: 2.2rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .contactTitle {
    font-size: 3rem;
    padding-top: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .contactTitle {
    padding-top: 15vh;
    font-size: 3.4rem;
    padding-bottom: 50px;
  }
}

.contactTiles {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (orientation: landscape) and (min-width: 1023px) {
  .contactTiles {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
    width: 80%;
    margin: 0 auto;
  }
}

.contactTile {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  letter-spacing: 1px;
  text-shadow: -2px 2px #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (orientation: landscape) and (min-width: 410px) {
  .contactTile {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.contactTile h4 {
  font-size: 1.5rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .contactTile h4 {
    font-size: 1.7rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .contactTile h4 {
    font-size: 1.8rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .contactTile h4 {
    font-size: 2.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .contactTile h4 {
    font-size: 2.6rem;
  }
}

.contactTile .icon {
  font-size: 3rem;
}

@media (orientation: portrait) and (min-width: 719px) {
  .contactTile .icon {
    font-size: 4rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .contactTile .icon {
    font-size: 3.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .contactTile .icon {
    font-size: 5rem;
  }
}

.contactTile p {
  font-size: 1.4rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .contactTile p {
    font-size: 1.6rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .contactTile p {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .contactTile p {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .contactTile p {
    font-size: 2.2rem;
  }
}

.email {
  background-color: #e05147;
}

.email:active {
  background-color: #efa49e;
}

.facebook {
  background-color: #4267b2;
}

.facebook:active {
  background-color: #87a0d3;
}

.linkedin {
  background-color: #1f8bb2;
}

.linkedin:active {
  background-color: #56bce1;
}

.github {
  background-color: black;
  text-shadow: -2px 2px #555;
}

.github:active {
  background-color: #333333;
}

.footer {
  height: 20vh;
  background-color: #071843;
  color: #fff;
}

@media (orientation: landscape) and (min-width: 410px) {
  .footer {
    height: 28vh;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .footer {
    height: 20vh;
  }
}

.credits {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.creditsTitle {
  padding-top: 10px;
  font-size: 1.2rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .creditsTitle {
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .creditsTitle {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .creditsTitle {
    font-size: 1.6rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .creditsTitle {
    font-size: 2rem;
  }
}

.credits p,
.credits a {
  font-size: 1.2rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .credits p,
  .credits a {
    font-size: 1.3rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .credits p,
  .credits a {
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .credits p,
  .credits a {
    font-size: 1.6rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .credits p,
  .credits a {
    font-size: 1.4rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .credits p,
  .credits a {
    font-size: 1.8rem;
  }
}

.credits p {
  display: inline;
}

.credits a {
  color: #fff;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */