@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #5b85ee;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header {
  position: relative;
  top: 0;
  right: 0;
  width: 100vw;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

@media (orientation: landscape) and (min-width: 410px) {
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.header__menu-bars {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 2.5rem;
  color: #aaa;
  z-index: 101;
}

@media (orientation: portrait) and (min-width: 719px) {
  .header__menu-bars {
    font-size: 4rem;
  }
}

.header__menu-bars--white {
  color: white;
  z-index: 101;
}

.header__menu-list {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-top: 40px;
  background-color: #051335;
  color: white;
  text-shadow: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu-list .header__languages {
  margin: -60px 0 40px;
}

.header__menu-list .header__languages .header__flag--poland,
.header__menu-list .header__languages .header__flag--uk {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid white;
}

@media (orientation: portrait) and (min-width: 719px) {
  .header__menu-list {
    font-size: 3rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .header__menu-list {
    font-size: 2.2rem;
  }
}

.header__menu-list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  border-bottom: 1px solid white;
}

.header__menu-list-element:nth-last-of-type(1) {
  border: none;
}

@media (orientation: landscape) and (min-width: 410px) {
  .header__menu-list-element:nth-of-type(4) {
    margin-top: 30px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .header__menu-list-element:nth-of-type(4) {
    margin-top: 45px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .header__menu-list-element:nth-of-type(3) {
    border: none;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .header__menu-list-element:nth-of-type(4), .header__menu-list-element:nth-of-type(5), .header__menu-list-element:nth-of-type(6) {
    margin-left: -47.5vw;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .header__menu-list-element {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    width: 45%;
    height: auto;
    margin: 0 0 0 2.5vw;
    padding: 0;
  }
}

.header__menu-list--open {
  right: 0;
}

.header__menu-wide {
  position: fixed;
  background-color: #051335;
  height: 12vh;
  top: 0;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-shadow: 0 0 6px 4px #000;
          box-shadow: 0 0 6px 4px #000;
}

.header__menu-wide .header__languages {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 0;
  padding: 0;
}

.header__menu-wide .header__menu-list-element {
  text-align: center;
  margin: 0;
  display: block;
  border: none;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.header__menu-wide .header__menu-list-element--big:active, .header__menu-wide .header__menu-list-element--big:focus, .header__menu-wide .header__menu-list-element--big:hover {
  font-weight: bold;
}

@media (orientation: landscape) and (min-width: 1440px) {
  .header__menu-wide .header__menu-list-element .active {
    font-weight: bold;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .header__menu-wide {
    font-size: 2rem;
    cursor: pointer;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .header__menu-wide {
    font-size: 2.5rem;
  }
}

.header__languages {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (orientation: portrait) and (min-width: 359px) {
  .header__languages {
    padding-top: 30px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .header__languages {
    padding-top: 40px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .header__languages {
    padding-top: 25px;
  }
}

.header__flag img {
  -webkit-box-shadow: 0 0 4px 2px #ddd;
          box-shadow: 0 0 4px 2px #ddd;
}

.header__flag--poland {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 30px;
}

@media (orientation: portrait) and (min-width: 410px) {
  .header__flag--poland {
    height: 40px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .header__flag--poland {
    height: 35px;
  }
}

.header__flag--uk {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  background-color: white;
}

@media (orientation: portrait) and (min-width: 410px) {
  .header__flag--uk {
    height: 40px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .header__flag--uk {
    height: 35px;
  }
}

.main-page {
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
  height: 100vh;
  max-height: 100vh;
  background-color: #071843;
  color: #e5eafa;
  letter-spacing: 2px;
  text-shadow: 3px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (orientation: portrait) and (min-width: 359px) {
  .main-page {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .main-page {
    display: -ms-grid;
    display: grid;
    grid: 60px 1fr/50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .main-page {
    display: -ms-grid;
    display: grid;
    grid: 1fr/45% 55%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}

.main-page__introduction {
  width: 95%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0 auto;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 410px) {
  .main-page__introduction {
    width: 80%;
    margin: 50px auto;
    font-size: 2.4rem;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .main-page__introduction {
    font-size: 1.7rem;
    height: 90%;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .main-page__introduction {
    font-size: 1.9rem;
    width: 85%;
  }
}

@media (orientation: landscape) and (min-width: 719px) {
  .main-page__introduction {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .main-page__introduction {
    font-size: 2.2rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .main-page__introduction {
    font-size: 3.3rem;
    width: 70%;
    margin-top: 7px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .main-page__introduction {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: 20vh;
    text-align: right;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .main-page__introduction {
    text-align: right;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .main-page__introduction {
    margin-top: 30vh;
  }
}

.main-page__introduction h1 {
  margin-top: 10px;
}

@media (orientation: portrait) and (min-width: 410px) {
  .main-page__introduction h1 {
    margin-bottom: 15px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .main-page__introduction h1 {
    padding-bottom: 15px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .main-page__introduction h1 {
    font-size: 5rem;
    padding-bottom: 30px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .main-page__introduction h1 {
    font-size: 5rem;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .main-page__introduction h1 {
    font-size: 5.8rem;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .main-page__introduction h1 {
    font-size: 7rem;
    padding-bottom: 50px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .main-page__introduction h2 {
    font-size: 5rem;
  }
}

.main-page__avatar {
  width: 100%;
  height: 40%;
  text-align: center;
  margin-bottom: 0;
}

@media (orientation: portrait) and (min-width: 359px) {
  .main-page__avatar {
    margin-top: 32px;
    height: 50%;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .main-page__avatar {
    width: 95%;
    margin: 37px auto 0;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .main-page__avatar {
    height: 90%;
    margin: 10px 0 0;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .main-page__avatar {
    width: 90%;
    margin: 20px 0 0;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .main-page__avatar {
    width: 75%;
    margin-top: 35px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .main-page__avatar {
    margin-top: 25px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .main-page__avatar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.main-page__avatar-img {
  height: 100%;
  margin-bottom: 0;
}

@media (orientation: portrait) and (min-width: 359px) {
  .main-page__avatar-img {
    height: 80%;
    width: auto;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .main-page__avatar-img {
    width: 100%;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .main-page__avatar-img {
    width: 92%;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .main-page__avatar-img {
    width: 70%;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .main-page__avatar-img {
    width: 80%;
  }
}

.about {
  height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__border {
  width: 85%;
  height: 90%;
  margin: 30px auto;
  padding: 0;
  background: ghostwhite;
  background: linear-gradient(135deg, ghostwhite 0%, #7888f3 50%, #071843 100%);
  border-radius: 15px 80px;
}

@media (orientation: portrait) and (min-width: 410px) {
  .about__border {
    height: 80%;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .about__border {
    height: 75%;
    width: 75%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .about__border {
    margin-top: 16vh;
    width: 70%;
    height: 75%;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .about__border {
    height: 70%;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .about__border {
    height: 60%;
  }
}

.about__txt {
  height: calc(100% - 20px);
  margin: 10px;
  background-image: none;
  background-color: white;
  border-radius: 11px 72px;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 410px) {
  .about__txt {
    padding: 50px 10px;
  }
}

.about__header {
  font-size: 2rem;
  padding: 30px;
}

@media (orientation: portrait) and (min-width: 359px) {
  .about__header {
    font-size: 2.2rem;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .about__header {
    padding: 20px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .about__header {
    font-size: 3rem;
    padding-top: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .about__header {
    font-size: 3.4rem;
    padding-top: 40px;
  }
}

.about__desc {
  width: 85%;
  margin: 0 auto;
  padding: 0 0 20px 0;
  font-size: 1.5rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .about__desc {
    font-size: 1.6rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .about__desc {
    width: 75%;
  }
}

@media (orientation: landscape) and (min-width: 719px) {
  .about__desc {
    font-size: 1.7rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .about__desc {
    font-size: 2.4rem;
    padding-top: 40px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .about__desc {
    padding-top: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .about__desc {
    font-size: 2rem;
    width: 70%;
    padding-top: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .about__desc {
    font-size: 3rem;
  }
}

.technologies {
  height: 100vh;
  max-height: 100vh;
  padding-top: 20px;
  background-color: #071843;
}

.technologies__title {
  text-align: center;
  color: white;
  font-size: 2rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .technologies__title {
    font-size: 2.2rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .technologies__title {
    font-size: 3rem;
    padding-top: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .technologies__title {
    padding-top: 15vh;
    font-size: 3.4rem;
  }
}

.technologies__container {
  height: 80%;
  width: 90%;
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  grid: repeat(3, 1fr)/repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 6rem;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 359px) {
  .technologies__container {
    margin-top: 30px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .technologies__container {
    margin-top: 50px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .technologies__container {
    width: 90%;
    height: 82%;
    margin: 15px auto 0;
    padding: 0;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .technologies__container {
    width: 88%;
    font-size: 8rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .technologies__container {
    width: 80%;
    padding-top: 10px;
    height: 73%;
    font-size: 7rem;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .technologies__container {
    font-weight: bold;
  }
}

.technologies__piece {
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 85%;
  height: 85%;
  border-radius: 30%;
  -webkit-box-shadow: -4px 4px 4px 2px #000;
          box-shadow: -4px 4px 4px 2px #000;
  background-color: white;
}

@media (orientation: portrait) and (min-width: 410px) {
  .technologies__piece {
    height: 70%;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .technologies__piece {
    height: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 26px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .technologies__piece {
    width: 65%;
    height: 80%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .technologies__piece {
    border-radius: 50px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .technologies__piece {
    width: 65%;
  }
}

.technologies__piece-title {
  font-size: 2rem;
}

@media (orientation: landscape) and (min-width: 639px) {
  .technologies__piece-title {
    font-size: 2.2rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .technologies__piece-title {
    font-size: 3rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .technologies__piece-title {
    font-size: 3.2rem;
  }
}

.technologies__piece-html {
  color: #f04626;
}

.technologies__piece-css {
  color: #1482ea;
}

.technologies__piece-sass {
  color: #dc215b;
}

.technologies__piece-javascript {
  color: #fbd601;
}

.technologies__piece-react {
  color: #61dafb;
}

.technologies__piece-npm {
  color: #cc0000;
}

.projects {
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  padding-top: 20px;
}

.projects__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5px;
}

@media (orientation: portrait) and (min-width: 359px) {
  .projects__title {
    font-size: 2.2rem;
    margin-bottom: 5px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .projects__title {
    margin-bottom: 15px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .projects__title {
    font-size: 3rem;
    padding-top: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .projects__title {
    padding-top: 15vh;
    font-size: 3.4rem;
  }
}

.projects__comment {
  width: 90%;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 359px) {
  .projects__comment {
    font-size: 1.2rem;
    width: 80%;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .projects__comment {
    font-size: 1.3rem;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .projects__comment {
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .projects__comment {
    font-size: 1.7rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .projects__comment {
    font-size: 1.9rem;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .projects__comment {
    padding-top: 20px;
  }
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}

@media (orientation: landscape) and (min-width: 410px) {
  .projects__container {
    display: -ms-grid;
    display: grid;
    grid: repeat(2, 1fr)/repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 90%;
    margin: -12px auto 0;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .projects__container {
    margin-top: -22px;
  }
}

@media (orientation: landscape) and (min-width: 719px) {
  .projects__container {
    margin-top: -15px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .projects__container {
    margin-top: 30px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .projects__container {
    margin-top: 0px;
    width: 95%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .projects__container {
    margin-top: 50px;
    height: 60%;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .projects__container {
    height: 65%;
    width: 80%;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    row-gap: 30px;
  }
}

.projects__project {
  position: relative;
  width: 90vw;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -ms-grid;
  display: grid;
  grid: 20px 1fr/40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

@media (orientation: landscape) and (min-width: 410px) {
  .projects__project {
    width: 100%;
    height: auto;
    border: none;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .projects__project {
    height: 100%;
    margin: 0;
  }
}

.projects__project-calculator {
  border-bottom: none;
}

@media (orientation: landscape) and (min-width: 410px) {
  .projects__project:nth-child(even) {
    display: -ms-grid;
    display: grid;
    grid: 20px 1fr/60% 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .projects__project:nth-child(even) img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .projects__project:nth-child(even) p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: right;
  }
  .projects__project:nth-child(even) .link {
    right: 40%;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .projects__project:nth-child(even) {
    height: 100%;
  }
}

.projects__project-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
  font-size: 1.3rem;
  color: #071843;
}

@media (orientation: portrait) and (min-width: 410px) {
  .projects__project-title {
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .projects__project-title {
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .projects__project-title {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .projects__project-title {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .projects__project-title {
    font-size: 3rem;
  }
}

.projects__project-desc {
  font-size: 1.2rem;
}

@media (orientation: portrait) and (min-width: 410px) {
  .projects__project-desc {
    font-size: 1.4rem;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .projects__project-desc {
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .projects__project-desc {
    font-size: 1.9rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .projects__project-desc {
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .projects__project-desc {
    font-size: 1.9rem;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .projects__project-desc {
    font-size: 2.3rem;
  }
}

.projects__project-img {
  width: 65%;
}

@media (orientation: portrait) and (min-width: 410px) {
  .projects__project-img {
    width: 70%;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .projects__project-img {
    width: 75%;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .projects__project-img {
    width: 60%;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .projects__project-img {
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .projects__project-img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .projects__project-img {
    width: 80%;
  }
}

.projects__project-gitlink {
  position: absolute;
  top: 30px;
  right: 0;
  width: 60%;
  height: calc(100% - 31px);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.projects__project-gitlink a {
  color: white;
  font-size: 1.5rem;
}

@media (orientation: landscape) and (min-width: 639px) {
  .projects__project-gitlink a {
    font-size: 1.6rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .projects__project-gitlink a {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .projects__project-gitlink a {
    font-size: 2.5rem;
  }
}

.hobbies {
  height: 100vh;
  max-height: 100vh;
  padding-top: 20px;
  background-color: #071843;
  color: white;
}

.hobbies__title {
  font-size: 2rem;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbies__title {
    font-size: 2.2rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__title {
    font-size: 3rem;
    padding-top: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbies__title {
    font-size: 3.4rem;
    padding-top: 15vh;
  }
}

.hobbies__container {
  display: -ms-grid;
  display: grid;
  grid: repeat(4, calc(150px * 0.577))/repeat(2, calc(140px * 0.75));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: center;
  margin: 40px calc((100vw - 2 * (140px * 0.75)) / 2);
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbies__container {
    margin-top: -98px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .hobbies__container {
    padding-top: 30px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbies__container {
    display: -ms-grid;
    display: grid;
    grid: repeat(2, 1fr)/repeat(4, 23vw);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: start;
    margin: 20px 20px 0;
    height: 70vh;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .hobbies__container {
    margin: 20px auto 0;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__container {
    margin-top: -50px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbies__container {
    margin: 25px 35px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbies__container {
    margin: 25px auto;
  }
}

.hobbies__hobby {
  position: relative;
  top: auto;
  right: auto;
  width: 100%;
  height: 25%;
  top: -40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-filter: drop-shadow(0 0 6px white);
          filter: drop-shadow(0 0 6px white);
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbies__hobby {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__hobby {
    margin: 0;
  }
}

.hobbies__hobby-hexagon {
  position: absolute;
  top: auto;
  right: auto;
  width: 140px;
  min-width: 140px;
  height: 150px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-size: cover;
  z-index: 1;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbies__hobby-hexagon {
    width: 130px;
    height: 145px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .hobbies__hobby-hexagon {
    width: 170px;
    height: 190px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbies__hobby-hexagon {
    -webkit-clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    width: 130px;
    height: 110px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .hobbies__hobby-hexagon {
    width: 150px;
    height: 130px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__hobby-hexagon {
    width: 220px;
    height: 240px;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbies__hobby-hexagon {
    width: 180px;
    height: 155px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbies__hobby-hexagon {
    width: 235px;
    height: 200px;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .hobbies__hobby-hexagon {
    width: 280px;
    height: 240px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .hobbies__hobby-hexagon:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbies__hobby-hexagon {
    width: 350px;
    height: 310px;
  }
}

.hobbies__hobby-darkHover {
  position: absolute;
  top: auto;
  right: auto;
  width: 140px;
  height: 150px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbies__hobby-darkHover {
    width: 130px;
    height: 145px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .hobbies__hobby-darkHover {
    width: 170px;
    height: 190px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbies__hobby-darkHover {
    -webkit-clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    width: 130px;
    height: 110px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .hobbies__hobby-darkHover {
    width: 150px;
    height: 130px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__hobby-darkHover {
    width: 220px;
    height: 240px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbies__hobby-darkHover {
    width: 180px;
    height: 155px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbies__hobby-darkHover {
    width: 235px;
    height: 200px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .hobbies__hobby-darkHover {
    width: 280px;
    height: 240px;
    margin: 0;
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbies__hobby-darkHover {
    width: 350px;
    height: 310px;
    margin: 0;
    padding: 0;
  }
}

.hobbies__hobby-aviation {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.hobbies__hobby-crossStitch {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.hobbies__hobby-fantasyBooks {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.hobbies__hobby-jigsaw {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.hobbies__hobby-text {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 100%;
  padding-left: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbies__hobby-text {
    padding: 0 15px;
    right: 10%;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbies__hobby-text {
    text-align: center;
    width: 85%;
    top: 24px;
    right: 11px;
  }
}

@media (orientation: landscape) and (min-width: 719px) {
  .hobbies__hobby-text {
    right: 7vh;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__hobby-text {
    width: 60%;
    left: -4vw;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbies__hobby-text {
    width: 65%;
    right: 40px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbies__hobby-text {
    right: 80px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .hobbies__hobby-text {
    right: 100px;
    top: 100px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbies__hobby-text {
    right: 125px;
  }
}

.hobbies__hobby-text-title {
  font-size: 1.3rem;
}

@media (orientation: portrait) and (min-width: 410px) {
  .hobbies__hobby-text-title {
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__hobby-text-title {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbies__hobby-text-title {
    font-size: 1.4rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbies__hobby-text-title {
    font-size: 1.8rem;
    padding-bottom: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbies__hobby-text-title {
    font-size: 2.2rem;
  }
}

.hobbies__hobby-text-desc {
  font-size: 1.2rem;
}

@media (orientation: portrait) and (min-width: 410px) {
  .hobbies__hobby-text-desc {
    font-size: 1.3rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__hobby-text-desc {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbies__hobby-text-desc {
    font-size: 1.3rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbies__hobby-text-desc {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbies__hobby-text-desc {
    font-size: 2rem;
  }
}

.hobbies__hobby-text--showTxt {
  right: -90%;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbies__hobby-text--showTxt {
    right: -65%;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbies__hobby-text--showTxt {
    right: 5px;
    top: 130px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .hobbies__hobby-text--showTxt {
    top: 150px;
  }
}

@media (orientation: landscape) and (min-width: 719px) {
  .hobbies__hobby-text--showTxt {
    right: 18px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__hobby-text--showTxt {
    right: -100%;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbies__hobby-text--showTxt {
    right: 40px;
    top: 180px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbies__hobby-text--showTxt {
    top: 230px;
  }
}

@media (orientation: landscape) and (min-width: 1279px) {
  .hobbies__hobby-text--showTxt {
    right: 80px;
  }
}

@media (orientation: landscape) and (min-width: 1359px) {
  .hobbies__hobby-text--showTxt {
    top: 270px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .hobbies__hobby-text--showTxt {
    right: 90px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbies__hobby-text--showTxt {
    right: 125px;
    top: 350px;
  }
}

.hobbies__hobby:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
  top: 0;
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbies__hobby:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.hobbies__hobby:nth-child(even) .hobbies__hobby-text {
  padding-right: 5%;
  padding-left: 0;
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__hobby:nth-child(even) .hobbies__hobby-text {
    right: -15vw;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbies__hobby:nth-child(even) .hobbies__hobby-text {
    right: 125px;
  }
}

.hobbies__hobby:nth-child(even) .hobbies__hobby-text--showTxt {
  right: 190%;
}

@media (orientation: portrait) and (min-width: 359px) {
  .hobbies__hobby:nth-child(even) .hobbies__hobby-text--showTxt {
    right: 85%;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .hobbies__hobby:nth-child(even) .hobbies__hobby-text--showTxt {
    right: 20px;
    top: -85px;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .hobbies__hobby:nth-child(even) .hobbies__hobby-text--showTxt {
    left: -11.5vw;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .hobbies__hobby:nth-child(even) .hobbies__hobby-text--showTxt {
    right: 40px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbies__hobby:nth-child(even) .hobbies__hobby-text--showTxt {
    top: -130px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .hobbies__hobby:nth-child(even) .hobbies__hobby-text--showTxt {
    right: 80px;
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .hobbies__hobby:nth-child(even) .hobbies__hobby-text--showTxt {
    right: 90px;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .hobbies__hobby:nth-child(even) .hobbies__hobby-text--showTxt {
    right: 125px;
  }
}

.hobbies__hobby:nth-child(3) {
  top: 40%;
}

.hobbies__hobby:nth-child(4) {
  top: 80%;
}

.contact {
  height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
}

.contact__title {
  text-align: center;
  font-size: 2rem;
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
}

@media (orientation: portrait) and (min-width: 359px) {
  .contact__title {
    font-size: 2.2rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .contact__title {
    font-size: 3rem;
    padding-top: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .contact__title {
    padding-top: 15vh;
    font-size: 3.4rem;
    padding-bottom: 50px;
  }
}

.contact__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (orientation: landscape) and (min-width: 1023px) {
  .contact__container {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
    width: 80%;
    margin: 0 auto;
  }
}

.contact__piece {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  letter-spacing: 1px;
  text-shadow: -2px 2px #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (orientation: landscape) and (min-width: 410px) {
  .contact__piece {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.contact__piece-title {
  font-size: 1.5rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .contact__piece-title {
    font-size: 1.7rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .contact__piece-title {
    font-size: 1.8rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .contact__piece-title {
    font-size: 2.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .contact__piece-title {
    font-size: 2.6rem;
  }
}

.contact__piece-icon {
  font-size: 3rem;
}

@media (orientation: portrait) and (min-width: 719px) {
  .contact__piece-icon {
    font-size: 4rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .contact__piece-icon {
    font-size: 3.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .contact__piece-icon {
    font-size: 5rem;
  }
}

.contact__piece-data {
  font-size: 1.4rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .contact__piece-data {
    font-size: 1.6rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .contact__piece-data {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .contact__piece-data {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .contact__piece-data {
    font-size: 2.2rem;
  }
}

.contact__piece-email {
  background-color: #e05147;
}

.contact__piece-email:active {
  background-color: #efa49e;
}

.contact__piece-facebook {
  background-color: #4267b2;
}

.contact__piece-facebook:active {
  background-color: #87a0d3;
}

.contact__piece-linkedin {
  background-color: #1f8bb2;
}

.contact__piece-linkedin:active {
  background-color: #56bce1;
}

.contact__piece-github {
  background-color: black;
  text-shadow: -2px 2px #555;
}

.contact__piece-github:active {
  background-color: #333333;
}

.footer {
  height: 20vh;
  background-color: #071843;
  color: #fff;
}

@media (orientation: landscape) and (min-width: 410px) {
  .footer {
    height: 28vh;
  }
}

@media (orientation: landscape) and (min-width: 1919px) {
  .footer {
    height: 20vh;
  }
}

.footer__credits {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.footer__credits-title {
  padding-top: 10px;
  font-size: 1.2rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .footer__credits-title {
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .footer__credits-title {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .footer__credits-title {
    font-size: 1.6rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .footer__credits-title {
    font-size: 2rem;
  }
}

.footer__credits-desc, .footer__credits-link {
  font-size: 1.2rem;
}

@media (orientation: portrait) and (min-width: 359px) {
  .footer__credits-desc, .footer__credits-link {
    font-size: 1.3rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .footer__credits-desc, .footer__credits-link {
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (min-width: 719px) {
  .footer__credits-desc, .footer__credits-link {
    font-size: 1.6rem;
  }
}

@media (orientation: landscape) and (min-width: 845px) {
  .footer__credits-desc, .footer__credits-link {
    font-size: 1.4rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .footer__credits-desc, .footer__credits-link {
    font-size: 1.8rem;
  }
}

.footer__credits-desc {
  display: inline;
}

.footer__credits-link {
  color: #fff;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */